.temp/
dist/
node_modules/
resources/apache/
resources/composer/
resources/git/
resources/go/
resources/mysql/
resources/nginx/
resources/nodejs/
resources/php/
resources/php-fpm/
resources/python/
resources/ruby/
public_html/apache_web/phpmyadmin/
package-lock.json