@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 2px solid var(--scrollbar-track);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

:root {
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #888;
}

@media (prefers-color-scheme: dark) {
  :root {
	--scrollbar-track: #2d2d2d;
	--scrollbar-thumb: #555;
  }
}

@keyframes spin-slow {
	0% {
transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
	  
.animate-spin-slow {
	animation: spin-slow 1.75s linear infinite;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fade-in-up {
	animation: fadeInUp 0.8s ease forwards;
}