<!DOCTYPE html>
<html lang="en" class="transition-colors duration-300">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Donate</title>
  <link href="./css/styles.css" rel="stylesheet" />
</head>
<body class="p-6 flex gap-3 h-screen w-full bg-white dark:bg-neutral-800 text-gray-700 dark:text-gray-200 text-sm">
  <main class="flex flex-col gap-4">
    <h2 class="flex flex-col gapp-0 text-center text-3xl">
	  <span class="text-base">
		Support 💖
	  </span>
	  <span class="font-bold text-emerald-500">
		FhyServe
	  </span>
	</h2>
	<div class="mx-auto">
      <img class="w-full h-full object-cover" src="https://raw.githubusercontent.com/fitri-hy/FhyServe/refs/heads/main/templates/images/donate.png" alt="Donate QR Code" />
    </div>
	<p class="text-center">
	  Scan the QR Code above using a payment application that supports <span class="font-bold">QRIS</span>.
	</p>
  </main>
</body>
</html>
